<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                       
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022806">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ManpowerGroup</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022840">Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ManpowerGroup</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022998">Java developer</a></td> 
     <td class="city">Смоленск</td> 
     <td class="companyName">Edisoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/628158580">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний Экстрим</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020666">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sberbank real estate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022938">JAVA developer / Team lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">IBS</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008013">Преподаватель курсов по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022767">Middle Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Miratech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022772">Старший Java разработчик</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Spotware Systems Ltd</td> 
     <td class="salary">От 4 000 до 5 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023151">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8bit group</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022859">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Amiri Human Resources</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java программист</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022128">JAVA- разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Sum&amp;Substance</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023271">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Maxifier Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021996">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Neemble</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021941">Java-программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005277">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Faidon Design</td> 
     <td class="salary">От 1 800 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/587151241">Java разработчик (Senior)</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Digital Zone</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020667">Старший Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sberbank real estate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022971">Sr. Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022069">Java (Scala) разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Krawlly</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022768">Senior Java Software Engineer</a></td> 
     <td class="city">Винница</td> 
     <td class="companyName">Miratech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013568">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">United Traders</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021705">Senior Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Рексофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022825">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Loyalty Plant</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022898">Senior Java developer (Team leader)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023132">Lead Android Developer (C++, Java)</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Ibit</td> 
     <td class="salary">От 2 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019904">Java разработчик со знанием front-end технологий</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022689">Head of SWD dpt (Java, Agile)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Belhard Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019790">Преподаватель HTML,СSS, PHP, JS, Java, Linux, Android, IOS,Ruby, Python, С++</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022798">GWT Разрабочик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020386">Senior Android Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023315">Тестировщик, со знанием pl/sql</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022947">Sr. JavaEE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021663">Android Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Simple Systems</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020199">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022957">Android-разработчик в Coursmos</a></td> 
     <td class="city"></td> 
     <td class="companyName">Coursmos Inc</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020702">Системный администратор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sberbank real estate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022902">Android-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magtoapp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023155">Backend-разработчик (full-stack)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Okko</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022734">Senior/Middle android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Boatpilot</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021335">Разработчик Windows Phone</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023264">JavaScript developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Teqniksoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023314">Крутой тестировщик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary">От 95 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023274">Android разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Sibext Ltd.</td> 
     <td class="salary">От 20 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000018083">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022875">Разработчик ios, android</a></td> 
     <td class="city"></td> 
     <td class="companyName">Chatlas</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021725">Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008929">Программист С++</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ГК «Системные Технологии»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022948">Scala Developer</a></td> 
     <td class="city">Утрехт</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 55 000 до 60 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022764">Инженер по автоматизированному тестированию</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022807">ios разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО "Apollophone"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022960">Ведущий разработчик на ROR для финтех</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Onpay</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021739">Backend Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Simple Systems</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023117">Erlang разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Платежи Онлайн"</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022963">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">WakeApp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022789">Программист-разработчик C/С++</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компьюлинк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022334">Программист С++</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">3dliga</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023104">Lead UI Architect/Developer (React.js / Redux)</a></td> 
     <td class="city"></td> 
     <td class="companyName">TradeIntel</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000011297">Ведущий разработчик Pytnon / Django</a></td> 
     <td class="city"></td> 
     <td class="companyName">EXNESS</td> 
     <td class="salary">От 2 700 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023313">Python-разработчик Яндекс.Такси</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022176">Android-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Компания Чистая вода</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023272">Программист Python</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Maxifier Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022860">Android-разработчик в Bookmate</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bookmate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023012">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">CHARGE</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022950">Ruby/Go Developer</a></td> 
     <td class="city">Амстердам</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 55 000 до 60 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023221">Руководитель Enterprise-направления</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Digital Zone</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/976978977">Разработчик мобильных приложений Android_Екатеринбург</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Очень Интересно</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008805">Senior PHP Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PimPay</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000007981">C# .NET Developer (Analytics Team)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plarium</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014449">Senior Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">RGK Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021287">Разработчик Ruby on Rails</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">HttpLab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023269">Senior Android Developer, Мой Мир (сервис Музыка Mail.Ru)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000007584">.NET Developer (Marketing Business Intelligence)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plarium</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000011996">C# .NET Server-Side Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plarium</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023115">Инженер(Continuous Integration)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022909">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PROFI.RU</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022949">JavaScript Developer</a></td> 
     <td class="city">Амстердам</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 55 000 до 60 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023176">Lead Software Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NetCracker Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022779">1C-Битрикс веб-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Kalina.studio</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021839">QA engineer с релокацией на Кипр</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022987">QA engineer с релокацией в Прагу</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023120">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Zvooq</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021182">iOS и Android разработчики</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Progress Engine</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>